<div
  class="row m-auto d-flex flex-column justify-content-center align-items-center"
>
  <i class="fa-brands fa-node-js fa-8x" style="width: 10%"></i>
  <h3 class="text-center mt-3">Create an account of login</h3>
  <div class="d-grid gap-2 mt-5 mb-2">
    <a class="btn btn-danger" href="/users/login" type="button"> Log IN </a>
    <a class="btn btn-secondary" href="/users/signup" type="button">
      Register
    </a>
  </div>
</div>
